<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="./../bower_components/paper-item/paper-item.html">
<link rel="import" href="./../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="./../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="./../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./../bower_components/web-animations-js/web-animations.min.html">
<link rel="import" href="./../bower_components/nebula-label/nebula-label.html">


<dom-module id="my-openbankapp">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .spinner-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -100px 0 0 -100px;
        width: 200px;
        height: 200px;
      }
    </style>
    <iron-ajax auto url="http://10.117.189.31:7777/codeGladiators/get/transactionList" handle-as="json" on-response="populateGrid"></iron-ajax>
    <iron-ajax id="dataFilter" handle-as="json" on-response="filterData"></iron-ajax>

    <div class="card">

      <div class="gridHead">
        <nebula-label>Transaction Type :
          <paper-dropdown style="padding-left: 30px !important;" id="filter" on-iron-select="filterGrid" value="{{ddValue}}">
            <paper-item value="SANDBOX_TAN">Online</paper-item>
            <paper-item value="sandbox-payment">Paytm</paper-item>
          </paper-dropdown>
        </nebula-label>
      </div>
      <vaadin-grid id="openbankgrid" items="{{gridData}}" resizable>
        <vaadin-grid-column resizable>
          <template class="header" width="50">Id</template>
          <template>[[item.id]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Account Id</template>
          <template>[[item.accountId]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Counter Party Account</template>
          <template>[[item.counterpartyAccount]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Counter Party Name</template>
          <template>[[item.counterpartyName]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Counter Party Logo Path</template>
          <template>[[item.counterPartyLogoPath]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Instructed Amount</template>
          <template>[[item.instructedAmount]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Transaction Amount</template>
          <template>[[item.transactionAmount]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Transaction Amount</template>
          <template>[[item.transactionAmount]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Transaction Currency</template>
          <template>[[item.transactionCurrency]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Transaction Type</template>
          <template>[[item.transactionType]]</template>
        </vaadin-grid-column>
        <vaadin-grid-column resizable>
          <template class="header">Description</template>
          <template>[[item.description]]</template>
        </vaadin-grid-column>
      </vaadin-grid>
      <div hidden="[[isHidden]]">
        <nebula-label>Total Amount: [[totalAmount]]</nebula-label>
      </div>
      <div class="spinner-wrapper" hidden="[[isLoading]]">
        <paper-spinner active></paper-spinner>
      </div>
    </div>
  </template>

  <script>
    class MyOpenBankApp extends Polymer.Element {
      static get is() { return 'my-openbankapp'; }
      static get properties() {
        return {
          gridData: {
            type: Array,
            value: []
          },
          ddValue: { type: String, observer: 'getChangedValue' },
          isLoading: { type: Boolean, value: false },
          isHidden: { type: Boolean, value: true },
          totalAmount: { type: Number, value: 0 }
        }
      }

      populateGrid(event, Request) {
        this.gridData = Request.response;
        this.isLoading = true;
        console.log(this.isLoading);
      }


      getChangedValue(newValue, oldValue) {
        var filterAjax = this.$.dataFilter,
          url = "http://10.117.189.31:7777/codeGladiators/get/";
        this.isLoading = false;
        this.ddValue = newValue;
        if (this.ddValue) {
          filterAjax.url = url + this.ddValue;
          filterAjax.generateRequest();
          this.isLoading = true;
        }
      }

      filterData(event, Request) {
        debugger;
        this.gridData = Request.response;
        // this.isLoading = true;
      }
    }

    window.customElements.define(MyOpenBankApp.is, MyOpenBankApp);
  </script>
</dom-module>